<div class="container">

  <div class="row">
    <div class="card">
      <div class="card-image text-center" style="margin: 15px;">
        <img
          src="../../../assets/img/person2.jpg"
          height="250px"
          alt=""
          class="img-responsive rounded img-"
        />
      </div>
      <div class="card-title">
        <h1 class="text-center">Jane</h1>
      </div>
      <div class="card-body">
        <div class="details">
          <div class="row">
            <div class="col-md-6">
              <i class="fa fa-calendar" aria-hidden="true"> 15/03/1997</i>
              <br />
              <i class="fa fa-map" aria-hidden="true"> Netherlands</i>
              <br />
              <i class="fa fa-mobile" aria-hidden="true"> (+31) 8 97625469</i>
              <br />
              <br />
            </div>
            <div class="col-md-6">
              <i class="fa fa-book" aria-hidden="true">  Software Engineering Student</i>
              <br>
              <i class="fa fa-desktop" aria-hidden="true"> Web development internship</i>
            </div>
          </div>
        </div>
        <div class="description text-center">
          Hello I am Jane I am software engineering student I like web
          development and I am looking for a part time job
        </div>
        <div class="study"><h5></h5></div>

        <div class="exêrience"></div>

        <div class="age"></div>
      </div>
    </div>
  </div>
</div>
